.cards__container {
  display: flex;
  flex-direction: column;
  margin: 40px auto 44px;
  gap: 20px;
  width: 100%;
  max-width: 793px;
  padding-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 44px;
  width: 100%;
  padding-left: 20px;
  max-width: 793px;
}
.pagination {
  margin: 88px auto 44px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1055px) {
  .container {
    padding-left: 0px;
    flex-direction: column;
    margin: 40px 20px 44px;
    gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .cards__container {
    margin: 40px 15px 44px;
    padding-left: 0px;
  }
}
