/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: black;
  background-color: var(--background-color);
}
.logo{
  background-image: url(../assets/svg/Union.svg);
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.hidden {
  display: none;
}

.row {
  max-width: 1440px;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 176px auto 0;
}

