.form {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  width: 100%;
  max-width: 315px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
  height: 380px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title__text {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;

}
.label {
  margin-bottom: 8px;
}

.reset {
  padding: 0;
  background: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #acadb9;

}

.reset:hover {
  color: #5e96fc;
}
