.Modal {
  /* position: absolute; */
  bottom: 0%;
  right: 0;
  width: 231px;
  height: 61px;
  background-color: #7EE958;
  border-radius: 10px 10px 0px 0px;
}
.errorMessage {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.errorModal {
  /* position: absolute; */
  bottom: 0%;
  right: 0;
  width: 231px;
  height: 61px;
  background-color: #E63F02;
  border-radius: 10px 10px 0px 0px;
  /* font-size: 13px; */
}
